<% provide(:title, "Cookie") %>
<h1>Cookie</h1>
<h2><%= image_tag 'cookie.jpg' %></h2>
<h4>
  <ul class="description">
    <li>語源:fortune cookie</li>
    <li>量が少ないデータを保存するため</li>
    <li>browserに保存される（ウソだ）</li>
    <li>二種類：
      <ul>-Session Cookies</ul>
      <ul>-Persistent Cookies
        <ul>□「2038年問題」</ul>
      </ul>
    </li>
    <li>セキュリティー上の問題
      <ul>-対策：hash化</ul>
      <ul>-Super cookie(https)でのprivate modeの無効化</ul></li>
  </ul>
</h4>
