<% provide(:title, "Difference") %>
<h1>Difference</h1>
<h4 class="defference">
  <table class="table">
  	<thead>
  		<tr>
  			<th>相違点</th>
  			<th>cookie</th>
  			<th>Session</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<th>データ量</th>
  			<td class="danger">制限あり</td>
  			<td class="success">制限なし</td>
  		</tr>
  		<tr>
  			<th>保存場所</th>
  			<td class="success">ユーザーpc</td>
  			<td class="danger">サーバー</td>
  		</tr>
  		<tr>
  			<th>保存内容</th>
  			<td class="danger">文字列だけ</td>
  			<td class="success">なんでもok</td>
  		</tr>
  		<tr>
  			<th>安全性</th>
  			<td class="danger">低い</td>
  			<td class="success">高い</td>
  		</tr>
  		<tr>
  			<th>有効期限</th>
  			<td class="danger">Session期間</td>
  			<td class="info">1440秒</td>
  		</tr>
      <tr>
  			<th>利用する</th>
  			<td class="danger">普通なもの</td>
  			<td class="success">重要なもの</td>
  		</tr>
  	</tbody>
  </table>
</h4>
