<footer class="footer">
  <small>
    The work by u-ri
  </small>
  <nav>
    <ul>
      <li><%= link_to "Similarity",   similarity_path %></li>
      <li><%= link_to "Difference", difference_path %></li>
    </ul>
  </nav>
</footer>
