<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Session and cookie", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Cookie",   cookie_path %></li>
        <li><%= link_to "Session", session_path %></li>
        <li><%= link_to "Session and cookie in!",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
